:root {
    --base: grey;
    --target: white;
    --bkgd: rgba(255, 255, 255, 1);
}

body {
  background: var(--base);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  margin: auto;
}

.close-btn {
  position: absolute;
  top: 10%;
  right:10%;
  cursor: pointer;
  z-index: 2;
}

.help {
  background-color: var(--bkgd);
  border-radius: 50%;
  bottom: 5%;
  cursor: pointer;
  height: 20px;
  padding-top: 2px;
  position: fixed;
  right: 5%;
  text-align: center;
  width: 20px;
}

.hide {
  display: none;
}

.target {
  color: var(--target);
  height: 10vh;
  left: 40vw;
  position: absolute;
  text-align: center;
  top: 40vh;
  width: 10vw;
}
.text-center {
  text-align: center;
  transform: translateY(25%);
}

.title {
  background-color: var(--bkgd);
  border-radius: 25%;
  height: 30vh;
  margin: 35vh 25vw;
  padding: 10px;
  position: fixed;
  width: 50vw;
  z-index: 1;
}

@media (min-width: 600px) {
  h1 {
    font-size: 100px;
  }

  body {
    font-size: 50px;
  }

  .help {
    width: 60px;
    height: 60px;
  }

  .title {
    height: 60vh;
    margin: 20vh 10vw;
    width: 80vw;
  }

  .text-center {
    transform: translateY(50%);
  }
}

/*.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}*/
