:root {
    --base: grey;
    --target: white;
    --bkgd: rgba(255, 255, 255, 1);
}


body {
  background-color: var(--base);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
}

#timer::before {
  color: white;
  content: "Time: ";
}

#timer {
  color: white;
  position: fixed;
}

#score::before {
  content: "Score: ";
  color: white;
}

#score {
  color: white;
  position: fixed;
  right: 1vw;
}



.close-btn {
  background: #007991;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 25%;
  color: white;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  padding: 20px;
  margin: 0 auto 40px;
  height: 60px;
  width: 200px;
  z-index: 2;
}

.help {
  background-color: var(--bkgd);
  border-radius: 50%;
  bottom: 5%;
  cursor: pointer;
  padding-top: 2px;
  position: fixed;
  right: 5%;
  text-align: center;

}

.hide {
  display: none;
}

.target {
  color: var(--target);
  cursor: pointer;
  height: 10vh;
  left: calc(50vw - 34px);
  position: fixed;
  text-align: center;
  top: calc(50vh - 40px);
}
.text-center {
  text-align: center;
}

.title {
  background-color: var(--bkgd);
  border-radius: 25%;
  padding: 10px;
  position: fixed;
  z-index: 1;
}

@media (max-width: 2000px) {
  h1 {
    font-size: 50px;
    margin: 0;
  }

  .help {
    height: 20px;
    width: 20px;
  }

  .text-center {
    margin: 10%;
  }

  .title {
    height: 50vh;
    top: 25vh;
    left: calc(25vw - 10px);
    width: 50vw;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 80px;
    margin: 0px 0px;
  }

  body {
    font-size: 20px;
  }

  .help {
    width: 60px;
    height: 60px;
    font-size: 50px;
  }

  .target {
    left: calc(50vw - 42.5px)
    top: calc(50vh - 50px)
  }

  .title {
    height: 80vh;
    top: 10vh;
    left: calc(10vw - 10px);
    width: 80vw;
  }

  .text-center {
    transform: translateY(10%);
  }
}
